{% block content %}
<html lang="en" dir="ltr">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1>about me</h1>
    <h2>I </h2>
    <div class="abouttme"></div>
    <div class="content">
      <p>
      心儿不由自主<br>
      吃一堑长一智<br>
      韭菜的饺子好<br>
                <br>
      在下叶秋，有何贵干
      <a href="https://github.com/yi-ye-zhi-qiu">github</a>

    </div>
  </body>
  <script src="ds_overlay.js"></script>
</html>
{% endblock %}
