<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>new_website</title>
  </head>
  <body>
    <div class="TopSection">
        <h1>
          <p>liam （叶秋）</p>
        </h1>
        <h1>
          <p>hacker;心儿不由自主,<br>poet,DataScientist,<br>pianist,lazy-loader</p>
        </h1>
        <img class="logo" src="{{ url_for('static',filename='images/open_bg.jpeg') }}" alt="logo-image" />
        <div class="ButtonContainer">
          <a class="Button" href="#about">
            我//me <!--& all that i_am
              (& all of my contradictions)-->
          </a>
          <a class="Button" href="#portfolio">
            portfolio
          </a>
          <a class="Button" href="#contact">
            get in touch
          </a>
        </div>
    </div>

    <div class="line_Horizontal"></div>
    <div class="SectionTitle">
      <div class="SectionHeader">
        <span>portfolio</span>
      </div>
    </div>
    <div class="portfolio">

      <div class="PortfolioImageTextContainer">
        <div class="PortfolioHover">
          <img class="ProjectImage" src="{{ url_for('static',filename='images/petrarch.jpeg') }}" alt="">
          <div class="PortfolioText">
            <div class="DateDone">
              2月24号2021年
            </div>
            <div class="ProjectTitle">
              <a href="{{ url_for('show_petrarch') }}">the liamguage of Petrarch</a>
            </div>
            <div class="ProjectDescription">
              can we finally cancel Petrarch?
            </div>
            <div class="ProjectTags">
              <p>NLP</p>
              <p>Word Tokenization</p>
              <p>PCA</p>
              <p>Word2Vec</p>
              <p>Tensorflow</p>
            </div>
            <div class="ProjectMedia">
              <a href="https://github.com/yi-ye-zhi-qiu/metis-project4"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a><i class="fa fa-medium" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="PortfolioImageTextContainer">
        <div class="PortfolioHover">
          <img class="ProjectImage" src="{{ url_for('static',filename='images/teemo.jpeg') }}" alt="">
          <div class="PortfolioText">
            <div class="DateDone">
              2月10号2021年
            </div>
            <div class="ProjectTitle">
              <a href="{{ url_for('show_league') }}">lieum.gg</a>
            </div>
            <div class="ProjectDescription">
              tell you why you (yes, you in particular!) win League of Legends, and what you can do to win more
            </div>
            <div class="ProjectTags">
              <p>XGBoost</p>
              <p>RandomForest</p>
              <p>Logistic Regression</p>
              <p>SHAP</p>
              <p>Riot APIs</p>
              <p>Flask</p>
              <p>Django</p>
            </div>
            <div class="ProjectMedia">
              <a href="https://github.com/yi-ye-zhi-qiu/metis-project3"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a><i class="fa fa-medium" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="PortfolioImageTextContainer">
        <div class="PortfolioHover">
          <img class="ProjectImage" src="{{ url_for('static',filename='images/coco.jpeg') }}" alt="">
              <div class="PortfolioText">
                <div class="DateDone">
                  1月22号2021年
                </div>
                <div class="ProjectTitle">
                  <a href="{{ url_for('show_liamometer') }}">liamometer</a>
                </div>
                <div class="ProjectDescription">
                  rates movies based off IMDB ratings (with my own bias)
                </div>
                <div class="ProjectTags">
                  <p>LASSO CV</p>
                  <p>Ridge CV</p>
                  <p>Linear Regression</p>
                  <p>Scrapy</p>
                  <p>Flask</p>
                  <p>Django</p>
                </div>
                <div class="ProjectMedia">
                  <a href="https://github.com/yi-ye-zhi-qiu/metis-project2"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <a><i class="fa fa-medium" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>

    <div class="line_Horizontal"></div>

    <div class="SectionTitle">
        <div class="SectionHeader">
          <span>about me</span>
      </div>
    </div>

      <div class="About">
        <div class="IntroduceMe">


        </div>
      </div>
    </div>

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="js.js"></script>
</html>
