<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>new_website</title>
  </head>
  <body>
    <div class="TopSection">
        <h1>
          <p>liam （叶秋）</p>
          <a href = "https://www.youtube.com/channel/UC_OHJEM3N7nJFuO_YgUWWrw"><i class="fa fa-youtube-play"></i></a>
          <a href="https://github.com/yi-ye-zhi-qiu"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/liam-isaacs-7018b9197/"><i class="fa fa-linkedin-square"></i></a>
        </h1>
        <h1>
          <p>Data Scientist, hacker;<br>pianist, 心儿不由自主,<br>poet,lazy-loader</p>
        </h1>
        <img class="logo" src="{{ url_for('static',filename='images/open_bg.jpeg') }}" alt="logo-image" />

    </div>

    <div class="line_Horizontal"></div>
    <div class="SectionTitle">
      <div class="SectionHeader">
        <span>portfolio</span>
      </div>
    </div>
    <div class="portfolio">

      <div class="PortfolioImageTextContainer">
        <div class="PortfolioHover">
          <img class="ProjectImage" src="{{ url_for('static',filename='images/petrarch.jpeg') }}" alt="">
          <div class="PortfolioText">
            <div class="DateDone">
              2月24号2021年
            </div>
            <div class="ProjectTitle">
              <a href="{{ url_for('show_petrarch') }}">the liamguage of Petrarch</a>
            </div>
            <div class="ProjectDescription">
              can we finally cancel Petrarch?
            </div>
            <div class="ProjectTags">
              <p>NLP</p>
              <p>Word Tokenization</p>
              <p>PCA</p>
              <p>Word2Vec</p>
              <p>Tensorflow</p>
            </div>
            <div class="ProjectMedia">
              <a href="https://github.com/yi-ye-zhi-qiu/metis-project4"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a><i class="fa fa-medium" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="PortfolioImageTextContainer">
        <div class="PortfolioHover">
          <img class="ProjectImage" src="{{ url_for('static',filename='images/teemo.jpeg') }}" alt="">
          <div class="PortfolioText">
            <div class="DateDone">
              2月10号2021年
            </div>
            <div class="ProjectTitle">
              <a href="{{ url_for('show_league') }}">lieum.gg</a>
            </div>
            <div class="ProjectDescription">
              tell you why you (yes, you in particular!) win League of Legends, and what you can do to win more
            </div>
            <div class="ProjectTags">
              <p>XGBoost</p>
              <p>RandomForest</p>
              <p>Logistic Regression</p>
              <p>SHAP</p>
              <p>Riot APIs</p>
              <p>Flask</p>
              <p>Django</p>
            </div>
            <div class="ProjectMedia">
              <a href="https://github.com/yi-ye-zhi-qiu/metis-project3"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a><i class="fa fa-medium" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="PortfolioImageTextContainer">
        <div class="PortfolioHover">
          <img class="ProjectImage" src="{{ url_for('static',filename='images/coco.jpeg') }}" alt="">
              <div class="PortfolioText">
                <div class="DateDone">
                  1月22号2021年
                </div>
                <div class="ProjectTitle">
                  <a href="{{ url_for('show_liamometer') }}">liamometer</a>
                </div>
                <div class="ProjectDescription">
                  rates movies based off IMDB ratings (with my own bias)
                </div>
                <div class="ProjectTags">
                  <p>LASSO CV</p>
                  <p>Ridge CV</p>
                  <p>Linear Regression</p>
                  <p>Scrapy</p>
                  <p>Flask</p>
                  <p>Django</p>
                </div>
                <div class="ProjectMedia">
                  <a href="https://github.com/yi-ye-zhi-qiu/metis-project2"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <a><i class="fa fa-medium" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>

    <div class="line_Horizontal"></div>
    <div class="SectionTitle AboutSection">
        <div class="SectionHeader SectionAbout">
          <span>about me</span>
        </div>
    </div>
    <select  class="select" id="lang-chooser"><span class="focus"></span></select>

    <div class="PoemsEssays">
      <a href="{{ url_for('show_poems') }}">POEMS // 诗</a>
      <!--<a href="{{ url_for('show_poems') }}">ESSAYS // 作文</a>-->
    </div>

      <div class="About">
        <div class="AboutHover">
          <div class="AboutText">
            <p data-mlr-text>我2019年从 <a class="link" href='https://catalog.wesleyan.edu/departments/chem/ugrd-chem/'>Wesleyan University</a> 毕业了（化学专业）。毕业了之后不大满意吧，琢磨过了自己的方向好几次。我从小带来了自卑感真的像一只追我的仓鼠，促进我一路成长吧，就是这个不停地要挣脱出。</p>
            <p data-mlr-text>2020年：成立了自己的YouTube，用不了太久又不满意 （父母的压力，肩膀受不了），去Genentech公司工作了。</p>
            <p data-mlr-text>2021年：上 <a class="link" href="https://www.thisismetis.com/">Metis</a> 的数据分析，3月内就造成了所有的 Portoflio。</p>

            <p data-mlr-text>身份：</p>
            <p data-mlr-text>中文（3.5年），钢琴（8年），诗（？？年），🏃（？？）</p>
          </div>
        </div>
      </div>
    </div>

    <div class="line_Horizontal"></div>
    <div class="SectionTitle AboutSection">
        <div class="SectionHeader SectionAbout">
          <span>get in touch</span>
        </div>
    </div>

      <div class="About">
        <div class="AboutHover">
          <div class="ContactText">
            <p>Please feel free to contact me at yeqiu194@gmail.com</p>
            <!--<a href="{{ url_for('show_login') }}">login</a>-->
          </div>
        </div>
      </div>
    </div>

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="{{ url_for('static',filename='js/js.js') }}"></script>
</html>
