<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <pre>
      青涩的种子
      太快的结了果
      扎根扎根扎根哪天会扎根呢
      下雨了下雨 别忘记雨伞啊

      人们初逢快相克
      林磊能不能颤抖

      烤鸭能不能辣够了辣够了
      我不敢 把酱料放在鸭子上 （我有礼貌）

      一个人走着
      想起来了以前一样的激进，
      学别人的方法然而找不到自己的节奏嘛

      在这边跑步在公园有人有云

      我记住自己并不是一只
      追芝士的仓鼠

      The Tell-Tale Heart

      Car door gliding through the city on its own two wheels like—
      like Sonic like lights that bleed but my eyes feel no pain like—
      snow like raindrops spill like
      whoever wrote this had only an orange peel for lunch like
      it blends right with no-sugar coffee like
      nothing’s right unless it’s night like ‘cause like —

      a head turning at the moon lost in dreams like Neon like inert like
      my momentum is too hot like my thoughts, sat here, alone, I guess I’m like
      a fluffy pancake with mustard aioli, basically

      belief in the self is like rocks is like an un-turning meteor
      it feels like whatever is beneath is like an unspoken metaphor,
      but if you can’t tell it’s like it doesn’t matter.


      person in the rain

      flowers swell stones wet clouds in abeyance
      now slip in front—grave—wrinkled loves never
      met—church ruins—grown apart let forget since
      past—not see then not now be far ever
      above my head—an umbrella—clock keeps time

      roots sprout—my veins—blossom leaf to let go
      lotus’ pedals petal with gentle brush
      gust of wind spin limbs of soon lost abode
      paint—gold to dust to home i’ll never know

      brokenly mistake stain dirt free tree
      beneath—in heart—see now worn tendrils hold
      write in hope of dispels old—and newly
      want to console but farther out of reach
      underneath—veil of rain—lost in me

      	winter raven

      	ghosts turn to ashes
      	wings flutter unto death
      	our hearts like flickers
      	of a candle’s last breath



      before dawn

      under the frozen pond,
      deftly do red koi swim on
      to a dream impugned, broken
      in watch full of with all do
      autumn, forlorn stars—
      birds chirps are chimes lost
      in the murk, ever
      immured in a dusk
      of a fallen march—
      doth these grey leaves
      do us let alas come,
      raveling apart.

      In snow,
      know the sky
      winter ravens—children to
      a meadow’s lullaby—
      are lovers, in time locked—wander
      unto death, unto a life left
      long bereft—
      hearts, like amber—
      like flickers,
      of a burning candle’s
      last breath.



      Autumn Circus

      tale of love and loss —cometh unto
      like ripened peach in the summer moon—risen
      by bruised hands tired of waiting—
      a cat’s tail flickers a candle’s shadow—
      and I

    </pre>

  </body>
</html>
