<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Portfolio</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

  </head>
  <body>
      <nav class="navbar">
          <ul>
            <li><a data-mlr-text class="navbar item" href="{{ url_for('show_index') }}">me</a></li>
            <li><a data-mlr-text class="navbar item" href="#">portfolio</a></li>
            <li><a data-mlr-text class="navbar item" href="#">contact</a></li>
          </ul>
          <select class="select" id="lang-chooser"><span class="focus"></span></select>
          <div class="line"></div>
      </nav>
      <br><p data-mlr-text style="margin-left: 2em;">check out some of my stuff!</p>
      <div class="content">
        <div class="grid col1">
          <div class="row_content">
            <h1  class="news_headline"><a data-mlr-text href="{{ url_for('show_mango') }}">Predicted IMDB ratings: The Liam-o-meter</a></h1>
            <a href="/about.html"><img class="img-full profile_photo" src="{{ url_for('static',filename='images/61097920.jpeg') }}"></img><span data-mlr-text class="news_subtext">liam, jan 22 2021</span></a>
            <ul >
              <li class="tags">python</li>
              <li class="tags">webscraping</li>
              <li class="tags">scrapy</li>
              <li class="tags">pandas</li>
              <li class="tags">linear regression</li>
              <li class="tags">webapp</li>
            </ul>
            <!-- <h2 class="news_abstract">abstract?</h2> -->
          </div>
        </div>
        <div class="grid col2 row1">
          <div class="row_content row1">
            <h1 class="news_headline"><a href="#">placeholder_2</a></h1>
            <span class="news_subtext">subtext_2</span>
          </div>
        </div>
        <div class="grid col2 row2">
          <div class="row_content row2">
            <h1 class="news_headline"><a href="#">placeholder_3</a></h1>
            <span class="news_subtext">subtext_3</span>
          </div>
        </div>
        <div class="grid col3">
          <div class="row_content">
            <h1 class="news_headline"><a href="#">placeholder_4</a></h1>
            <span class="news_subtext">subtext_4</span>
          </div>
        </div>
    </div>
    <footer>
    </footer>
    <script src="{{url_for('static', filename='js/js.js')}}"></script>
  </body>
