<html lang="en" dir="ltr">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/league_style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>league_data</title>
  </head>
  <body>
    <div class="xx">
      <div class="xy">

        <form id="riot-api-form" action="{{ url_for('riot_api_call') }}" method="post">
          <p class="rev-block"><span>搜索一下你英雄联盟的用户名</span></p>
          <!-- progress bar -->
          <div class="vcmvz" aria-hidden="true">
            <div class="ghgtu" role="progressbar">
              <div class="kiasd"></div>
              <div class="yuuyx"></div>
              <div class="yuri">
                <span class="I3ed"></span>
              </div>
              <div class="QeRzxYT">
                <span class="I4ed"></span>
              </div>
            </div>
          </div>
          <!-- inputbox -->
          <input dataset id="input-box" name="input" type="text">

          {% for key,value in form.items() %}
            <br><h2> {{value}}</h2>
          {% endfor %}

          {% for a in dfs: %}
          {% set D_df = dfs[a]  %}
          <div class="gamelist">
            <div class="gameitem">
              <div id="lose_win" class="gameitem">
                <div class="content">
                  <script type="text/javascript">
                    let lose_win = ("{{  D_df.loc[D_df['summonerName'] == name]['win'].values[0] }}")
                    if(lose_win !== 'False'){
                      lose_win = 'win'
                    } else{
                      lose_win = 'win'
                    }
                    document.querySelector("#lose_win").classList.add(lose_win);
                  </script>
                  <div class="gamestats">
                    <div class="gametype">
                      {{ D_df.loc[D_df['summonerName'] == name]['gameMode'].values[0] }}
                    </div>
                    <div class="timestamp">
                      {{ D_df.loc[D_df['summonerName'] == name]['lastGamePlayedWhen'].values[0] }} days ago
                    </div>
                    <div class="bar"></div>
                    <div class="gameresult">
                      {{ D_df.loc[D_df['summonerName'] == name]['win'].values[0] }}
                    </div>
                    <div class="gamelength">
                      {{ D_df['gameDuration'].values[0] }}
                    </div>
                  </div>
                  <div class="gamesettinginfo">
                    <div class="championimage">
                      <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['championImage'].values[0] }}" alt="">
                    </div>
                    <div class="summonerspell">
                      <div class="spell">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['spell1Image'].values[0] }}" alt="">
                      </div>
                      <div class="spell">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['spell2Image'].values[0] }}" alt="">
                      </div>
                    </div>
                    <div class="championname">
                      {{ D_df.loc[D_df['summonerName'] == name]['championName'].values[0] }}
                    </div>
                  </div>
                  <div class="KDA">
                    <div class="KDA">
                      <span class="kill"> {{ D_df.loc[D_df['summonerName'] == name]['kills'].values[0] }}  </span>
                      <span class="death"> {{ D_df.loc[D_df['summonerName'] == name]['deaths'].values[0] }}  </span>
                      <span class="assist"> {{ D_df.loc[D_df['summonerName'] == name]['assists'].values[0] }} </span>
                    </div>
                    <div class="KDAratio">
                      <span class="KDAratio"> KDA: {{ D_df.loc[D_df['summonerName'] == name]['kda'].values[0] }} </span>
                    </div>
                  </div>
                  <div class="stats">
                    <div class="level">
                      Lvl {{ D_df.loc[D_df['summonerName'] == name]['champLevel'].values[0] }}
                    </div>
                    <div class="cs">
                      <span class="cstip">
                        CS: {{ D_df.loc[D_df['summonerName'] == name]['totalMinionsKilled'].values[0] }}
                        ( {{ D_df.loc[D_df['summonerName'] == name]['minionsKilledPerMinute'].values[0] }} )
                      </span>
                    </div>
                    <div class="kp">
                        KP: {{ D_df.loc[D_df['summonerName'] == name]['killParticipation'].values[0] }} %
                    </div>
                  </div>
                  <div class="items">
                    <div class="itemlist">
                      <div class="item">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage0'].values[0] }}" alt="">
                      </div>
                      <div class="item">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage1'].values[0] }}" alt="">
                      </div>
                      <div class="item">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage2'].values[0] }}" alt="">
                      </div>
                      <div class="item">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage3'].values[0] }}" alt="">
                      </div>
                      <div class="item">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage4'].values[0] }}" alt="">
                      </div>
                      <div class="item">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage5'].values[0] }}" alt="">
                      </div>
                      <div class="item">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage6'].values[0] }}" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="followplayers names">
                      <!-- split team div for each 5 players -->
                     <div class="team">
                      {% for i in range(0, 5): %}
                        {% if D_df.loc[i]['teamId'] == 100: %}
                            <div class="summoner">
                              <div class="championimage">
                                <img class="subteamimage" src=" {{ D_df.loc[i]['championImage'] }} " alt="">
                              </div>
                              <div class="summonername">
                                {{ D_df.loc[i]['summonerName'] }}
                              </div>
                            </div>
                        {% endif %}
                      {% endfor %}
                      </div>
                      <div class="team">
                      {% for i in range(5,10): %}
                        {% if D_df.loc[i]['teamId'] == 200: %}
                            <div class="summoner">
                              <div class="championimage">
                                <img class="subteamimage" src=" {{ D_df.loc[i]['championImage'] }} " alt="">
                              </div>
                              <div class="summonername">
                                {{ D_df.loc[i]['summonerName'] }}
                              </div>
                            </div>
                        {% endif %}
                     {% endfor %}
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


        </form>
      </div>
    </div>
  </body>
  <script src="{{url_for('static', filename='js/input_handler.js')}}"></script>
</html>
