<html lang="en" dir="ltr">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/league_style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>league_data</title>
  </head>
  <body>
    <header class="bird-box">

          {% for key,value in form.items() %}
            <br>
            <h2>
              <div class="loadingbar">
                <div class="loadingbar_sub">
                  <div class="vcmvz" aria-hidden="true">
                    <div class="ghgtu" role="progressbar">
                      <div class="kiasd"></div>
                      <div class="yuuyx"></div>
                      <div class="yuri">
                        <span class="I3ed"></span>
                      </div>
                      <div class="QeRzxYT">
                        <span class="I4ed"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="back-bird">

              </div>
              <div class="logo">
                {{value}}
                {% if ranked_info['tier'].values[0] != 'unranked': %}
                <div class="a">
                  <b id="persons-rank">{{ ranked_info['tier'].values[0] }}</b>
                  {{ ranked_info['rank'].values[0] }}

                </div>
                {% endif %}
                {% if ranked_info['tier'].values[0] == 'unranked': %}
                <div class="a">
                  unranked
                </div>
                {% endif %}
              </div>
              <div class="fore-bird">
                <img class="profile-pic" src="{{ rank }}" alt="">
                <div class="ranked_stats">
                {% if ranked_info['tier'].values[0] != 'unranked': %}
                  <div class="lp "> <span> {{ ranked_info['leaguePoints'].values[0] }} LP </span></div>
                  <div class="wins "> <span> {{ ranked_info['wins'].values[0] }} W </span></div>
                  <div class="loses "> <span> {{ ranked_info['losses'].values[0] }} L </span></div>
                {% endif %}
                </div>
              </div>
            </h2>
          {% endfor %}
      </header>
    <div class="xx">
      <div class="xy">

          <!-- inputbox -->
          <form id="riot-api-form" class="search_done" action="{{ url_for('riot_api_call') }}" method="post">
            <input dataset id="input-box" class="aftersearch-input" name="input" type="text">
          </form>
        </div>

        <div class="ab">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
              <feComposite in="SourceGraphic" in2="goo"/>
            </filter>
          </defs>
        </svg>

        <span class="button--bubble__container">
          <a href="#campaign" class="button button--bubble">
            Boost my stats
          </a>
          <span class="button--bubble__effect-container">
            <span class="circle top-left"></span>
            <span class="circle top-left"></span>
            <span class="circle top-left"></span>

            <span class="button effect-button"></span>

            <span class="circle bottom-right"></span>
            <span class="circle bottom-right"></span>
            <span class="circle bottom-right"></span>
          </span>
        </span>
        </div>
      </div>
              <!-- <p class="rev-block again"><span>search again!</span></p> -->
              <!-- progress bar -->
            {% for a in dfs: %}
            {% set D_df = dfs[a]  %}
            <div class="gamelist">
              <div class="gameitem">
                <div class="gameitem {{ 'win' if D_df.loc[D_df['summonerName'] == name]['win'].values[0] == '胜利' else 'lose' }}">
                  <div class="content">
                    <div class="gamestats">
                      <div class="gametype">
                        {{ D_df.loc[D_df['summonerName'] == name]['gameMode'].values[0] }}
                      </div>
                      <div class="timestamp">
                        {{ D_df.loc[D_df['summonerName'] == name]['lastGamePlayedWhen'].values[0] }} days ago
                      </div>
                      <div class="bar"></div>
                      <div class="gameresult">
                        {{ D_df.loc[D_df['summonerName'] == name]['win'].values[0] }}
                      </div>
                      <div class="gamelength">
                        {{ D_df['gameDuration'].values[0] }}
                      </div>
                    </div>
                    <div class="gamesettinginfo">
                      <div class="championimage">
                        <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['championImage'].values[0] }}" alt="">
                      </div>
                      <div class="summonerspell">
                        <div class="spell">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['spell1Image'].values[0] }}" alt="">
                        </div>
                        <div class="spell">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['spell2Image'].values[0] }}" alt="">
                        </div>
                      </div>
                      <div class="championname">
                        {{ D_df.loc[D_df['summonerName'] == name]['championName'].values[0] }}
                      </div>
                    </div>
                    <div class="KDA">
                      <div class="KDA">
                        <span class="kill"> {{ D_df.loc[D_df['summonerName'] == name]['kills'].values[0] }}  </span>
                        <span class="death"> {{ D_df.loc[D_df['summonerName'] == name]['deaths'].values[0] }}  </span>
                        <span class="assist"> {{ D_df.loc[D_df['summonerName'] == name]['assists'].values[0] }} </span>
                      </div>
                      <div class="KDAratio">
                        <span class="KDAratio"> KDA: {{ D_df.loc[D_df['summonerName'] == name]['kda'].values[0] }} </span>
                      </div>
                      <div class="badge">
                        <span class="text MVP"> {{ D_df.loc[D_df['summonerName'] == name]['MVP'].values[0] }}  </span>
                      </div>
                    </div>
                    <div class="stats">
                      <div class="level">
                        Lvl {{ D_df.loc[D_df['summonerName'] == name]['champLevel'].values[0] }}
                      </div>
                      <div class="cs">
                        <span class="cstip">
                          CS: {{ D_df.loc[D_df['summonerName'] == name]['totalMinionsKilled'].values[0] }}
                          ( {{ D_df.loc[D_df['summonerName'] == name]['minionsKilledPerMinute'].values[0] }} )
                        </span>
                      </div>
                      <div class="kp">
                          KP: {{ D_df.loc[D_df['summonerName'] == name]['killParticipation'].values[0] }} %
                      </div>
                    </div>
                    <div class="items">
                      <div class="itemlist">
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage0'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage1'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage2'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage3'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage4'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage5'].values[0] }}" alt="">
                        </div>
                        <div class="item">
                          <img class="image" src="{{ D_df.loc[D_df['summonerName'] == name]['itemImage6'].values[0] }}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="followplayers names">
                        <!-- split team div for each 5 players -->
                       <div class="team">
                        {% for i in range(0, 5): %}
                          {% if D_df.loc[i]['teamId'] == 100: %}
                              <div class="summoner">
                                <div class="championimage">
                                  <img class="subteamimage" src=" {{ D_df.loc[i]['championImage'] }} " alt="">
                                </div>
                                <div class="summonername">
                                  {{ D_df.loc[i]['summonerName'] }}
                                </div>
                              </div>
                          {% endif %}
                        {% endfor %}
                        </div>
                        <div class="team">
                        {% for i in range(5,10): %}
                          {% if D_df.loc[i]['teamId'] == 200: %}
                              <div class="summoner">
                                <div class="championimage">
                                  <img class="subteamimage" src=" {{ D_df.loc[i]['championImage'] }} " alt="">
                                </div>
                                <div class="summonername">
                                  {{ D_df.loc[i]['summonerName'] }}
                                </div>
                              </div>
                          {% endif %}
                       {% endfor %}
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
  <script src="{{url_for('static', filename='js/input_handler.js')}}"></script>
</html>
